[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PHENTHAUproc"]
	path = PHENTHAUproc
	url = https://github.com/cran/PHENTHAUproc
